<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Blog listing
-->
{% extends "./layouts/base.html" %}
{# import marcros #}
{% import "./macros.html" as macros %}

{% set module_settings = {
    module_header: {
      show_module_header_: false,      
    },
    module_footer: {
      show_module_footer_: false,      
    },
    styles: {
      type_setting: "on-light",
      padding_top: "medium",
      padding_bottom: "medium",
      background_color: "transparent"
    }
  }
%}

{% set heading_module_settings = {
    module_header: {
      show_module_header_: false,      
    },
    module_footer: {
      show_module_footer_: false,      
    },
    styles: {
      type_setting: "on-light",
      padding_top: "xxs",
      padding_bottom: "xxs",
      background_color: "transparent"
    }
  }
%}

{% block body %}
  <div class="body-container body-container--blog-listing">

    {# Blog author listing #}
    {% if blog_author %}

      {% call macros.module_base("blog-listing-filter-author", heading_module_settings) %}
        {% if blog_author.avatar %}
          <img src="{{ blog_author.avatar }}" alt="image of blog {{ blog_author.display_name }}">
        {% endif %}
        <h1>{{ blog_author.display_name }}</h1>
        {% if blog_author.bio %}
          <p>{{ blog_author.bio }}</p>
        {% endif %}
        {% if blog_author.has_social_profiles %}
          <div>
            {% if blog_author.website %}
              <a href="{{ blog_author.website }}" target="_blank" rel="noopener">
                {% icon
                  name="link",
                  purpose="semantic",
                  style="SOLID",
                  title="Follow us on our website",
                  width="10"
                %}
              </a>
            {% endif %}
            {% if blog_author.facebook %}
              <a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
                {% icon
                  name="facebook-f",
                  purpose="semantic",
                  style="SOLID",
                  title="Follow us on Facebook",
                  width="10"
                %}
              </a>
            {% endif %}
            {% if blog_author.linkedin %}
              <a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
                {% icon
                  name="linkedin-in",
                  purpose="semantic",
                  style="SOLID",
                  title="Follow us on LinkedIn",
                  width="10"
                %}
              </a>
            {% endif %}
            {% if blog_author.twitter %}
              <a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
                {% icon
                  name="twitter",
                  purpose="semantic",
                  style="SOLID",
                  title="Follow us on Twitter",
                  width="10"
                %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endcall %} 

    {% elif tag %}

      {# Blog tag listing #}

      {% call macros.module_base("blog-listing-filter-tag", heading_module_settings) %}
        <div class="{{ module_name }}__container">            
          <h1>Posts with tag: {{ page_meta.html_title|split(" | ")|last }}</h1>            
        </div>
      {% endcall %}

    {% else %}

      {# Blog listing heading #}
      
      {% module 'blog-header' path="/dk-web-solutions/modules/blog-header" %}

      {% call macros.module_base("blog-listing-heading", heading_module_settings) %}
        <div class="{{ module_name }}__container">
          <h1 class="display--1">{{ group.public_title }}</h1>
          <p>{{ group.description }}</p>        
        </div>
      {% endcall %}

      <div>
        {% dnd_area "dnd_area"
          label="Main section"
        %}
          {% dnd_section %}
            {% dnd_column %}

            {% end_dnd_column %}
          {% end_dnd_section %}
        {% end_dnd_area %}
      </div>

    {% endif %}

    {# Blog Listing Content #}
    {% module 'blog-listing' path="/dk-web-solutions/modules/blog-listing" %}      
    {% module 'blog-pagination' path="/dk-web-solutions/modules/pagination" %}
   
  </div>
{% endblock body %}
