

{% macro module_base(module_name, module_settings) %}
  {% set styles = module_settings.styles %}
  {# Module Header #}
  {% set module_header = module_settings.module_header %}
  {% set show_header_ = module_header.show_module_header_ %}
  {% set header_type = module_header.header_type_setting %}
  {% set header_block_alignment = module_header.header_block_alignment %}
  {% set header_content_alignment = module_header.header_content_alignment %}
  {% set header_padding = module_header.padding_bottom %}
  {% set header_content = module_header.header_content %}
  {# Module Footer #}
  {% set module_footer = module_settings.module_footer %}
  {% set show_footer_ = module_footer.show_module_footer_ %}
  {% set footer_type = module_footer.footer_type_setting %}
  {% set footer_block_alignment = module_footer.footer_block_alignment %}
  {% set footer_content_alignment = module_footer.footer_content_alignment %}
  {% set footer_padding = module_footer.padding_top %}
  {% set footer_content = module_footer.footer_content %}
  {# Module #}
  {% set padding_top = styles.padding_top %}
  {% set padding_bottom = styles.padding_bottom %}
  {% set background_color = styles.background_color %}
  {% set type_setting = styles.type_setting %}

  <div class="{{ module_name }} module module__padding-top--{{ padding_top }} module__padding-bottom--{{ padding_bottom }} bg--{{ background_color }} {{ type_setting }}">
    <div class="{{ module_name }}__inner constrain">

      {% if show_header_ %}
        <div class="module__endcap {{ header_type }} module__endcap-block-alignment--{{ header_block_alignment }} padding-bottom--{{ header_padding }}">
          <div class="module__endcap-content module__endcap-content-alignment--{{ header_content_alignment }}">
            {{ header_content }}
          </div>
        </div>
      {% endif %}
      
      {{ caller() }}

      {% if show_footer_ %}
        <div class="module__endcap {{ footer_type }} module__endcap-block-alignment--{{ footer_block_alignment }} padding-top--{{ footer_padding }}">
          <div class="module__endcap-content module__endcap-content-alignment--{{ footer_content_alignment }}">
            {{ footer_content }}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
{% endmacro %}

{% macro image_popup(linkContent, imageLink, class) %}
  <a class="image-link {{ class }}" href="{{ imageLink }}">{{ linkContent }}</a>
{% endmacro %}

{% macro column(module_name, column) %}
  {% set column_type = column.column_type %}
  {% set column_content = column.text_content %}
  {% set image = column.image %}
  {% set border_radius_ = column.border_radius_ %}
  {% set appended_elements = column.appended_elements %}

  <div class="{{ module_name }}__column {{ module_name }}__column-type--{{ column_type }}">
    {% if column_type == "text-content" %}
      <div class="{{ module_name }}__content">
        {{ column_content }}
      </div>
      
      {% if appended_elements[0] %}   
        {{ append_elements(module_name, appended_elements) }}
      {% endif %}
    {% elif column_type == "image" %}
      <div class="{{ module_name }}__image-container">
        <img class="{{ module_name }}__image {% if border_radius_ %} {{ module_name }}__image--border-radius{% endif %}" src="{{ image.src }}">
      </div>
    {% endif %}
  </div>
{% endmacro %}


{% macro append_elements(module_name, appended_elements) %}
  <div class="{{ module_name }}__appended-elements">
    {% for item in appended_elements %}
      {% set item_type = item.element_type %}
      {% set item_content = item.text_content %}
      {% set list_options = item.list_options %}
      {% set cta_group = item.cta_group %}      
        
      <div class="{{ module_name }}__appended-element {{ module_name }}__appended-element-type--{{ item_type }}">
        {% if item_type == "text-content" %}
          {{ item_content }}
        {% elif item_type == "list" %}
          {{ list(module_name, list_options) }}
        {% elif item_type == "cta-group" %}
          {% for cta in cta_group %}
            <div class="{{ module_name }}__cta">
              {{ cta(cta) }}
            </div>
          {% endfor %}
        {% elif item_type == "testimonial" %}

        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro list(module_name, list_options) %}
  {% set list_type = list_options.list_type %}
  {% set list_layout = list_options.list_layout %}
  {% set icon_position = list_options.icon_position %}
  {% set icon_color = list_options.icon_color %}
  {% set list = list_options.list %}    

  <ul class="list  list__list-layout--{{ list_layout }} {{ module_name }}__list">
    {% for listItem in list %}
      <li class="list__list-item list__list-type--{{ list_type }} list__icon-position--{{ icon_position }} list__icon-color--{{ icon_color }}">
        <div class="list__content-wrapper">
          {{ listItem }}
        </div>    
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro resource_card(module_name, card_options, filter_data) %}
  {% set title = card_options.title %}
  {% set snippet = card_options.snippet %}
  {% set image = card_options.image %}
  {% set is_link_ = card_options.is_link_ %}
  {% set link = card_options.link %}
  {% set link_text = card_options.link_text %}
  {% set page_root_path = card_options.page_root_path %}
  
  {% if is_link_ %}
    {% set el = 'a' %}
  {% else %}
    {% set el = 'div' %}
  {% endif %}
  
  <div class="grid__column {{ module_name }}__column resource-card__column{% if filter_data|length > 0 %} filterable{% endif %}{% for dataObject in filter_data %} {{ dataObject.column }}-{{ dataObject.data }}{% endfor %}">  
    <{{ el }} {% if is_link_ %}href="{% if page_root_path %}/{{ page_root_path }}/{% endif %}{{ link }}"{% endif %}{% if link.open_in_new_tab %} target="_blank"{% endif %} class="{{ module_name }}__resource-card resource-card card{% if is_link_ %} is-linked{% endif %}">        
      {% if image.url is truthy %}
        <div class="{{ module_name }}__image-container resource-card__image-container">
          <img src="{{ image.url }}" class="resource-card__image">
        </div>
      {% endif %}

      <div class="{{ module_name }}__info resource-card__info grid__column-content">
        <div class="{{ module_name }}__info--top resource-card__info--top">
          <div class="{{ module_name }}__content resource-card__content">
            {% if title %}<h4 class="{{ module_name }}__title resource-card__title">{{ title }}</h4>{% endif %}
            <p class="{{ module_name }}__snippet resource-card__snippet small">{{ snippet }}</p>
          </div>
        </div>
        
        {% if is_link_ %}
          <div class="{{ module_name }}__info--bottom resource-card__info--bottom">
            <span class="{{ module_name }}__cta-link resource-card__cta-link cta-link cta-link--chevron">{{ link_text }}</span>
          </div>
        {% endif %}
      </div>
    </{{ el }}>
  </div>
{% endmacro %}

{% macro blog_card(card_options, filter_data) %}
  {% set title = card_options.title %}
  {% set tag_list = card_options.tag_list %}
  {% set author = card_options.author %}
  {% set read_time = card_options.read_time %}
  {% set publish_date = card_options.publish_date %}
  {% set snippet = card_options.snippet %}
  {% set image = card_options.image %}  
  {% set link = card_options.link %}
  {% set link_text = card_options.link_text %}  
  
  <div class="grid__column blog-card__column{% if filter_data|length > 0 %} filterable{% endif %}{% for dataObject in filter_data %} {{ dataObject.column }}-{{ dataObject.data }}{% endfor %}">  
    <a class="blog-card card is-linked" href="{{ link }}" target="_blank">        
      {% if image %}
        <div class="blog-card__image-container">
          <img class="blog-card__image" src="{{ image }}">
        </div>
      {% endif %}

      <div class="blog-card__info grid__column-content">
        <div class="blog-card__info--top">
          {% if tag_list || read_time %}
            <div class="blog-card__tags-container tags__container">
              {% for tag in tag_list %}
                <div class="blog-card__tag tags__tag">
                  {{ tag }}
                </div>
              {% endfor %}
              {% if read_time %}
                <span class="blog-card__read-time"><span class="blog-card__read-time-number">{{ read_time }}</span> min read</span>
              {% endif %}
            </div>
          {% endif %}

          <div class="blog-card__content">
            <div class="blog-card__publish-info">
              {% if publish_date %}<span class="blog-card__publish-date">{{ publish_date }}</span>{% endif %}
              {% if publish_date && author %} - {% endif %}
              {% if author %}<span class="blog-card__author">{{ author }}</span>{% endif %}            
            </div>
            {% if title %}<h4 class="blog-card__title">{{ title }}</h4>{% endif %}
            {% if snippet %}<p class="blog-card__snippet small">{{ snippet }}</p>{% endif %}
          </div>
        </div>
        
        {% if show_link_text_ %}
          <div class="blog-card__info--bottom">
            <span class="blog-card__cta-link cta-link cta-link--chevron">{{ link_text }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  </div>
{% endmacro %}

{% macro simple_card(module_name, card_options) %}
  {% set card_content = card_options.content %}
  
  <div class="grid__column">
    <div class="{{ module_name }}__simple_card simple_card card">        
      <div class="{{ module_name }}__column grid__column-content">
        <div class="simple_card__content-wrapper">
          <div class="simple_card__content">
            {{ card_content }}            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro featured_post(post) %}
  <div class="featured_post">

  </div>
{% endmacro %}

{% macro resource_filter(module_name, filter_columns) %}
  <div class="{{ module_name }}__filters-sidebar filters-sidebar">
    <div class="{{ module_name }}__filters-header filters-sidebar__header">
      <label class="{{ module_name }}__label filters-sidebar__label">
        Filter Results
      </label>
      <button class="{{ module_name }}__reset filters-sidebar__reset">Reset</button>
    </div>

    {% for column in filter_columns %}
      <form class="{{ module_name }}__form filters-sidebar__form" data-filter="{{ column }}">
        {% set column_options = hubdb_table_column(table_id, column).options  %}  

        <label class="{{ module_name }}__label filters-sidebar__label" id="label-by-{{ column }}">
          By {{ column|replace("_", " ")|title }}
        </label>
    
        <ul class="{{ module_name }}__list {{ module_name }}__list--radio filters-sidebar__list filters-sidebar__list--radio">    
          <li class="{{ module_name }}__item filters-sidebar__item">
            <input class="{{ module_name }}__input filters-sidebar__input filters-sidebar__input-all" id="by-{{ column }}--option-all" type="radio" name="by-{{ column }}" value="all" aria-labelledby="label-by-{{ column }}" checked="checked">
            <label class="{{ module_name }}__option-label filters-sidebar__option-label" for="by-{{ column }}--option-all">
              All
            </label>
          </li>                    
          {% for option in column_options %}
            <li class="{{ module_name }}__item filters-sidebar__item">
              <input class="{{ module_name }}__input filters-sidebar__input" id="by-{{ column }}--option-{{ option.name }}" type="radio" name="by-{{ column }}" value="{{ option.name }}" aria-labelledby="label-by-{{ column }}"{% if request.query_dict[column] == option.label %} checked="checked"{% endif %}>
              <label class="{{ module_name }}__option-label filters-sidebar__option-label" for="by-{{ column }}--option-{{ option.name }}">
                {{ option.label }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% endfor %}
  </div>
{% endmacro %}