

{% macro module_base(module_name, module_settings) %}
  {% set styles = module_settings.styles %}
  {# Module Header #}
  {% set module_header = module_settings.module_header %}
  {% set show_header_ = module_header.show_module_header_ %}
  {% set header_type = module_header.header_type_setting %}
  {% set header_block_alignment = module_header.header_block_alignment %}
  {% set header_content_alignment = module_header.header_content_alignment %}
  {% set header_padding = module_header.padding_bottom %}
  {% set header_content = module_header.header_content %}
  {# Module Footer #}
  {% set module_footer = module_settings.module_footer %}
  {% set show_footer_ = module_footer.show_module_footer_ %}
  {% set footer_type = module_footer.footer_type_setting %}
  {% set footer_block_alignment = module_footer.footer_block_alignment %}
  {% set footer_content_alignment = module_footer.footer_content_alignment %}
  {% set footer_padding = module_footer.padding_top %}
  {% set footer_content = module_footer.footer_content %}
  {# Module #}
  {% set padding_top = styles.padding_top %}
  {% set padding_bottom = styles.padding_bottom %}
  {% set background_color = styles.background_color %}
  {% set type_setting = styles.type_setting %}

  <div class="{{ module_name }} module module__padding-top--{{ padding_top }} module__padding-bottom--{{ padding_bottom }} bg--{{ background_color }} {{ type_setting }}">
    <div class="{{ module_name }}__inner constrain">

      {% if show_header_ %}
        <div class="module__endcap {{ header_type }} module__endcap-block-alignment--{{ header_block_alignment }} padding-bottom--{{ header_padding }}">
          <div class="module__endcap-content module__endcap-content-alignment--{{ header_content_alignment }}">
            {{ header_content }}
          </div>
        </div>
      {% endif %}
      
      {{ caller() }}

      {% if show_footer_ %}
        <div class="module__endcap {{ footer_type }} module__endcap-block-alignment--{{ footer_block_alignment }} padding-top--{{ footer_padding }}">
          <div class="module__endcap-content module__endcap-content-alignment--{{ footer_content_alignment }}">
            {{ footer_content }}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
{% endmacro %}

{% macro image_popup(linkContent, imageLink, class) %}
  <a class="image-link {{ class }}" href="{{ imageLink }}">{{ linkContent }}</a>
{% endmacro %}

{% macro column(module_name, column) %}
  {% set column_type = column.column_type %}
  {% set column_content = column.text_content %}
  {% set image = column.image %}
  {% set border_radius_ = column.border_radius_ %}
  {% set appended_elements = column.appended_elements %}

  <div class="{{ module_name }}__column {{ module_name }}__column-type--{{ column_type }}">
    {% if column_type == "text-content" %}
      <div class="{{ module_name }}__content">
        {{ column_content }}
      </div>
      
      {% if appended_elements[0] %}   
        {{ append_elements(module_name, appended_elements) }}
      {% endif %}
    {% elif column_type == "image" %}
      <div class="{{ module_name }}__image-container">
        <img class="{{ module_name }}__image {% if border_radius_ %} {{ module_name }}__image--border-radius{% endif %}" src="{{ image.src }}">
      </div>
    {% endif %}
  </div>
{% endmacro %}


{% macro append_elements(module_name, appended_elements) %}
  <div class="{{ module_name }}__appended-elements">
    {% for item in appended_elements %}
      {% set item_type = item.element_type %}
      {% set item_content = item.text_content %}
      {% set list_options = item.list_options %}
      {% set cta_group = item.cta_group %}      
        
      <div class="{{ module_name }}__appended-element {{ module_name }}__appended-element-type--{{ item_type }}">
        {% if item_type == "text-content" %}
          {{ item_content }}
        {% elif item_type == "list" %}
          {{ list(module_name, list_options) }}
        {% elif item_type == "cta-group" %}
          {% for cta in cta_group %}
            <div class="{{ module_name }}__cta">
              {{ cta(cta) }}
            </div>
          {% endfor %}
        {% elif item_type == "testimonial" %}

        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro list(module_name, list_options) %}
  {% set list_type = list_options.list_type %}
  {% set list_layout = list_options.list_layout %}
  {% set icon_position = list_options.icon_position %}
  {% set icon_color = list_options.icon_color %}
  {% set list = list_options.list %}    

  <ul class="list  list__list-layout--{{ list_layout }} {{ module_name }}__list">
    {% for listItem in list %}
      <li class="list__list-item list__list-type--{{ list_type }} list__icon-position--{{ icon_position }} list__icon-color--{{ icon_color }}">
        <div class="list__content-wrapper">
          {{ listItem }}
        </div>    
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro resource_card(module_name, card_options) %}
  {% set title = card_options.row_title %}
  {% set snippet = card_options.row_snippet %}
  {% set content = card_options.row_content %}
  {% set image = card_options.row_image %}
  {% set is_link_ = card_options.row_is_link_ %}
  {% set link = card_options.row_link %}
  {% set link_text = card_options.row_link_text %}
  
  {% if is_link_ %}
    {% set el = 'a' %}
  {% else %}
    {% set el = 'div' %}
  {% endif %}
  
  <div class="resource-card grid__column {{ module_name }}__resource-card">
    <div>        
      <{{ el }} {% if is_link_ %}href="{{ link.url.href }}"{% endif %}{% if link.open_in_new_tab %} target="_blank" {% endif %}class="{{ module_name }}__column bg--{{ column_background }} grid__column-content {% if border_ %} {{ module_name }}__column--border{% endif %}{% if border_radius_ %} {{ module_name }}__column--border-radius{% endif %}">
        {% if image.src is truthy %}
          <div class="resource-card__image-container">
            <img src="{{ image.src }}" class="resource-card__image">
          </div>
        {% endif %}

        <div class="resource-card__content-wrapper">
          <div class="resource-card__content">
            <h4>{{ title }}</h4>
            <p>{{ snippet }}</p>
          </div>
          <span class="cta-link cta-link--chevron">{{ link_text }}</span>
        </div>
      </{{ el }}>
    </div>
  </div>
{% endmacro %}