<!--
    templateType: page
    label: Resources Dynamic
    isAvailableForNewContent: true
-->

{% extends "../layouts/base.html" %}
{% import "../../templates/macros.html" as macros %}

{% block body %}

    {% if dynamic_page_hubdb_row %}
      <h1>{{ dynamic_page_hubdb_row.hs_name }}</h1>
      <h2>{{ dynamic_page_hubdb_row.title }}</h2>
      <h3>{{ dynamic_page_hubdb_row.snippet }}</h3>
      <p>{{dynamic_page_hubdb_row.content}}</p>

    {% else %}

      {% module 'multi-column-resource-categories'
        path="/dk-web-solutions/modules/multi-column",
        column_spacing="xs",
        column_type="icon",
        columns=[ {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>Automation</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        }, {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>Blog Authoring</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        }, {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>System Design</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        }, {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>Architecture</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        }, {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>Product Management</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        }, {
          "icon" : {
            "alt" : "image-alt-text",
            "height" : 64,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : "https://22112970.fs1.hubspotusercontent-na1.net/hubfs/22112970/icons/token-icon.svg",
            "width" : 64
          },
          "is_link_" : true,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://www.example.com/",
              "type" : "EXTERNAL"
            }
          },
          "link_text" : "",
          "text_content" : "<h3>Full Suite</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        } ],
        module_header={
          "header_content" : "<h1 class='display--1'>Resource Categories</h1><p class=\"large\">Take a quick look at each of our available resource.</p>",
          "show_module_header_" : true,
          "header_block_alignment": "center",
          "header_content_alignment": "center"
        }
      %}

      {% module 'resources-filters-left'
        path="/dk-web-solutions/modules/hubdb-resources",
        card_layout="four-column",
        filter_columns=[ "category", "resource_type", "company" ],
        filters_layout="left",
        module_header={
          "header_content_alignment" : "left",
          "show_module_header_" : true          
        }
      %}

    {% endif %} 

    {% if !dynamic_page_hubdb_row || request.postDict.inpageEditorUI %}
      <div class="editor-only">
        <div class="constrain">
          <h1>Viewing in Editor</h1>
          <p class="large">This section is for editing individual dynamic page content.</p>
        </div>
      </div>
    {% endif %}

{% endblock body %}