.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__column {
    display: flex;

    > div {
      display: flex;
      flex: 1;

      > div,
      > a {
        flex: 1;
      }
    }
  }

  // Column count

  &__column-layout {
    &--one-column {
      .grid__column {
        width: 100%;
      }
    }

    &--two-column {
      .grid__column {
        width: 100%;

        @media (min-width: $viewport-tablet--min) {
          width: 50%;
        }
      }
    }

    &--three-column {
      .grid__column {
        width: 100%;

        @media (min-width: $viewport-tablet--min) {
          width: 50%;
        }
        @media (min-width: $viewport-laptop--min) {
          width: 33.333%;
        }
      }
    }

    &--four-column {
      .grid__column {
        width: 100%;

        @media (min-width: $viewport-tablet--min) {
          width: 50%;
        }
        @media (min-width: $viewport-laptop--min) {
          width: 25%;
        }
      }
    }
  }

  // Spacing
  &__column-spacing {
    &--xxxs {
      width: calc(100% + $padding--xxxs);
      height: calc(100% + $padding--xxxs);
      margin: calc($padding--xxxs / -2);

      .grid__column > div {
        padding: calc($padding--xxxs / 2);
      }
    }

    &--xxs {
      width: calc(100% + $padding--xxs);
      height: calc(100% + $padding--xxs);
      margin: calc($padding--xxs / -2);

      .grid__column > div {
        padding: calc($padding--xxs / 2);
      }
    }

    &--xs {
      width: calc(100% + $padding--xs);
      height: calc(100% + $padding--xs);
      margin: calc($padding--xs / -2);

      .grid__column > div {
        padding: calc($padding--xs / 2);
      }
    }

    &--small {
      width: calc(100% + $padding--small);
      height: calc(100% + $padding--small);
      margin: calc($padding--small / -2);

      .grid__column > div {
        padding: calc($padding--small / 2);
      }
    }

    &--medium {
      width: calc(100% + $padding--medium);
      margin: 0 calc($padding--medium / -2);

      .grid__column > div {
        padding: calc($padding--medium / 2);
      }
    }
  }

  // Padding
  &__column-padding {
    &--xxxs {
      .grid__column-content {
        padding: $padding--xxxs;
      }
    }

    &--xxs {
      .grid__column-content {
        padding: $padding--xxs;
      }
    }

    &--xs {
      .grid__column-content {
        padding: $padding--xs;
      }
    }

    &--small {
      .grid__column-content {
        padding: $padding--small;
      }
    }

    &--medium {
      .grid__column-content {
        padding: $padding--medium;
      }
    }
  }
}
