{# import marcros #}
{% import "../../templates/macros.html" as macros %}

{# Global module options #}
{% set module_name = "resources-hubdb" %}
{% set module_settings = {
    styles: module.styles,
    module_header: module.module_header,
    module_footer: module.module_footer
  }
%}

{# Module specific options #}
{% set table_id = module.table_id %}
{% set table_rows = hubdb_table_rows(table_id) %}

{% set filters_layout = module.filters_layout %}
{% set filter_columns = module.filter_columns %}
{% set filter_query = [] %}

{% for column in filter_columns %}
  {% if request.query_dict[column] != null %}
    {% do filter_query.append('&' + column + '=' + request.query_dict[column]) %} 
  {% endif %}
{% endfor %}

{% set filter_query = filter_query|string|replace('[', '')|replace(']', '')|replace(', ', '') %}

{% if request.query_dict != null %}
  {% set table_rows = hubdb_table_rows(table_id, filter_query) %}
{% endif %}

{% set table_field_names = module.table_field_names %}
{% set title = table_field_names.column_title %}
{% set snippet = table_field_names.column_snippet %}
{% set content = table_field_names.column_content %}
{% set image = table_field_names.column_image %}
{% set is_link_ = table_field_names.is_link_ %}
{% set link = table_field_names.link %}
{% set link_text = table_field_names.link_text %}

{% set card_layout = module.card_layout %}
{% set card_spacing = module.card_spacing %}
{% set card_padding = module.card_padding %}

{% set resourceType = 'test' %}


{# Module #}
{% call macros.module_base(module_name, module_settings) %}
  <div class="{{ module_name }}__wrapper">  

    {% if filters_layout == 'left' %}
      {{ macros.resource_filter(module_name, filter_columns) }}
    {% endif %}

    <div class="{{ module_name }}__grid grid grid__column-layout--{{ card_layout }} grid__column-spacing--{{ card_spacing }} grid__column-padding--{{ card_padding }}">
      {% for row in table_rows %}

        {% set filter_data = [] %}
        
        {% for column_to_filter in filter_columns %}
          {% do filter_data.append({ 
              column: column_to_filter, 
              data: row[column_to_filter].name
            }) 
          %}        
        {% endfor %}

        {% set card_options = {
            title: row[title],
            snippet: row[snippet],
            content: row[content],
            image: row[image],
            is_link_: row[is_link_],
            link: row[link],
            link_text: row[link_text],
            page_root_path: row.page_root_path
          }
        %}

        {{ macros.resource_card(module_name, card_options, filter_data) }}
      {% endfor %}
    </div>

    {% if filters_layout == 'right' %}
    {{ macros.resource_filter(module_name, filter_columns) }}
  {% endif %}
  </div>
{% endcall %}
