{# import marcros #}
{% import "../../templates/macros.html" as macros %}

{# Global module options #}
{% set module_name = "hubdb-resources" %}
{% set module_settings = {
    styles: module.styles,
    module_header: module.module_header,
    module_footer: module.module_footer
  }
%}

{# Module specific options #}
{% set table_id = module.table_id %}
{% set table_rows = hubdb_table_rows(table_id) %}

{% set filters_layout = module.filters_layout %}
{% set filter_columns = module.filter_columns %}

{% set table_field_names = module.table_field_names %}
{% set title = table_field_names.column_title %}
{% set snippet = table_field_names.column_snippet %}
{% set content = table_field_names.column_content %}
{% set image = table_field_names.column_image %}
{% set is_link_ = table_field_names.is_link_ %}
{% set link = table_field_names.link %}
{% set link_text = table_field_names.link_text %}

{% set card_layout = module.card_layout %}
{% set card_spacing = module.card_spacing %}
{% set card_padding = module.card_padding %}


{# Module #}
{% call macros.module_base(module_name, module_settings) %}
  <div class="{{ module_name }}__wrapper">  

    <div class="{{ module_name }}__filters-sidebar filters-sidebar">
      {% for column in filter_columns %}
        <form class="{{ module_name }}__form filter-sidebar__form" data-filter="{{ column }}">
          {% set column_options = hubdb_table_column(table_id, column).options  %}  

          <label class="{{ module_name }}__label filter-sidebar__label" id="label-by-{{ column }}">
            By {{ column|replace("_", " ")|title }}
          </label>
      
          <ul class="{{ module_name }}__list {{ module_name }}__list--radio filter-sidebar__list filter-sidebar__list--radio">
          <h1>{{ request.query_dict.resource_type }}</h1>            
            
            {% for option in column_options %}
              <li class="{{ module_name }}__item">
                <input class="{{ module_name }}__input filters-sidebar__input" id="by-type--option-{{ option.id }}" type="radio" name="by-{{ column }}" value="{{ option.name }}" aria-labelledby="label-by-{{ column }}"{% if request.query_dict[column] == option.label %} checked="checked"{% endif %}>
                <label class="{{ module_name }}__option-label filters-sidebar__option-label" for="by-type--option-{{ option.id }}">
                  {{ option.label }}
                </label>
              </li>
            {% endfor %}
          </ul>
        </form>
      {% endfor %}
    </div>
      
    <div class="{{ module_name }}__grid grid grid__column-layout--{{ card_layout }} grid__column-spacing--{{ card_spacing }} grid__column-padding--{{ card_padding }}">
      {% for row in table_rows %}
        {% set card_options = {
            title: row[title],
            snippet: row[snippet],
            content: row[content],
            image: row[image],
            is_link_: row[is_link_],
            link: row[link],
            link_text: row[link_text],
            page_root_path: row.page_root_path
          }
        %}

        {{ macros.resource_card(module_name, card_options) }}
      {% endfor %}
    </div>
  </div>
{% endcall %}
