.blog-header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filters-wrapper {
    display: flex;
    align-items: center;
    column-gap: $padding--xxxs;
  }

  &__filter-wrapper {
    position: relative;
  }

  &__filters-list {
    list-style-type: none;
    position: absolute;
    background-color: white;
    padding-left: 0;
    padding: $padding--xxxs 0;
    box-shadow: $shadow--level-1;   
    border-radius: 6px; 
    
    a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: $padding--xxxs $padding--xxs;
      white-space: nowrap;      
      font-weight: bold;
      
      &:hover {
        background-color: $primary--light;
      }
    }
  }

  &__dropdown-button {
    background-color: white;
    padding: $padding--xxxs;
    border-radius: 3px;    
    border: solid 1px $primary;
    cursor: pointer;
    font-size: 16px;    
    font-weight: bold;
    color: $body-text;

    &:focus {
      background-color: $primary--light;
    }

    &::after {
      content: '\e5cf';
      display: inline-block;
      font-family: 'Material Symbols Rounded';
      line-height: 1;
      transform: scale(1.4) translateY(2px) translateX(2px);
      transition: transform 0.2s;
    }
  }

  .hide-list {
    display: none;
  }
}