.blog-header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filters-wrapper {
    display: flex;
    align-items: center;
    column-gap: $padding--xxxs;
  }

  &__filter-wrapper {
    position: relative;
  }

  &__filters-list,
  .hs-search-field__suggestions {
    list-style-type: none;
    position: absolute;
    background-color: white;
    padding-left: 0;
    padding: $padding--xxxs 0;
    box-shadow: $shadow--level-1;
    border-radius: 6px;

    a,
    #results-for {
      box-sizing: border-box;
      display: block;
      width: 100%;
      white-space: nowrap;
      font-weight: bold;
      padding: $padding--xxxs $padding--xxs;

      &:not(#results-for):hover {
        background-color: $primary--light;
      }
    }

    #results-for {      
      font-weight: normal;
  
      &::after {
        content: "...";
      }
    }
  }

  .blog-header__search-bar {
    position: relative;

    label {
      margin-right: 10px;
    }

    button {
      height: 26px;
      width: 26px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);

      svg {
        fill: $body-text;
      }
    }
  }

  .hs-search-field__input {
    height: 42px;
    box-sizing: border-box;
    padding: $padding--xxxs;
    border: $body-text solid 2px;
    border-radius: 4px;
  }

  &__dropdown-button {
    background-color: white;
    padding: $padding--xxxs;
    border-radius: 3px;
    border: solid 1px $primary;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: $body-text;

    &:focus {
      background-color: $primary--light;
    }

    &::after {
      content: '\e5cf';
      display: inline-block;
      font-family: 'Material Symbols Rounded';
      line-height: 1;
      transform: scale(1.4) translateY(2px) translateX(2px);
      transition: transform 0.2s;
    }
  }

  .hide-list {
    display: none;
  }

  .blog-header__search-field {
    position: relative;
  }
}
