.icon-card {
  border: solid 1px $neutral--light;
  border-radius: 6px;
  box-shadow: none;
  overflow: hidden;
  box-shadow: $shadow--level-3;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;

  &.is-linked:hover {
    box-shadow: $shadow--level-1;
  }

  &__icon-container {
    margin-bottom: $padding--xxxs;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--bottom {
      margin-top: $padding--xxxs;
      text-align: right;
    }
  }
}
