.editor-only {
  display: none;
}

.hs-inline-edit .editor-only {
  display: block;
  background-color: rgb(253, 204, 204);
}

.no-margin {
  margin: 0 !important;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

a:not(.cta-link):not(.cta-btn):not(.blog-header__subscribe-link) {
  color: #205899 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display--1,
.display--2,
.display--3 {
  font-family: "Lato";
}

p,
span,
a,
li,
label,
button {
  font-family: "Roboto";
}

.on-light p,
.on-light span:not(.cta-link),
.on-light li,
.on-light h1,
.on-light h2,
.on-light h3,
.on-light h4,
.on-light h5,
.on-light h6 {
  color: #4b4b4b;
}

.on-dark p,
.on-dark span:not(.cta-link),
.on-dark li,
.on-dark h1,
.on-dark h2,
.on-dark h3,
.on-dark h4,
.on-dark h5,
.on-dark h6 {
  color: #fff;
}

.display--1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.display--2 {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .display--2 {
    font-size: 40px;
  }
}
@media (min-width: 1441px) {
  .display--2 {
    font-size: 48px;
  }
}

.display--3 {
  font-size: 36px;
  margin-bottom: 10px;
}

.h1, h1 {
  display: block;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .h1, h1 {
    font-size: 38px;
    line-height: 1.1842105263;
  }
}

.h2, h2 {
  display: block;
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .h2, h2 {
    font-size: 46px;
    line-height: 1.1956521739;
  }
}

.h3, h3 {
  display: block;
  font-size: 23px;
  line-height: 1.4782608696;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .h3, h3 {
    font-size: 32px;
    line-height: 1.1875;
  }
}

.h4, h4 {
  display: block;
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .h4, h4 {
    font-size: 26px;
    line-height: 1.1538461538;
  }
}

.h5, h5 {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .h5, h5 {
    font-size: 22px;
    line-height: 1.5;
  }
}

.h6, h6 {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .h6, h6 {
    font-size: 14px;
    line-height: 1.5;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #4b4b4b;
}
@media (min-width: 769px) {
  p {
    line-height: 1.6;
  }
}
p.small {
  font-size: 14px !important;
  line-height: 1.4;
}
p.large {
  font-size: 20px !important;
}
@media (min-width: 769px) {
  p.large {
    line-height: 1.8;
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.grid__column {
  display: flex;
}
.grid__column > a,
.grid__column > div {
  flex: 1;
}
.grid__column-content {
  background-color: white;
}
.grid .grid__column {
  box-sizing: border-box;
}
.grid__column-layout--one-column .grid__column {
  width: 100%;
}
.grid__column-layout--two-column .grid__column {
  width: 100%;
}
@media (min-width: 769px) {
  .grid__column-layout--two-column .grid__column {
    width: 50%;
  }
}
.grid__column-layout--three-column .grid__column {
  width: 100%;
}
@media (min-width: 769px) {
  .grid__column-layout--three-column .grid__column {
    width: 50%;
  }
}
@media (min-width: 993px) {
  .grid__column-layout--three-column .grid__column {
    width: 33.333%;
  }
}
.grid__column-layout--four-column .grid__column {
  width: 100%;
}
@media (min-width: 769px) {
  .grid__column-layout--four-column .grid__column {
    width: 50%;
  }
}
@media (min-width: 993px) {
  .grid__column-layout--four-column .grid__column {
    width: 25%;
  }
}
.grid__column-spacing--xxxs {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: -5px;
}
.grid__column-spacing--xxxs .grid__column {
  padding: 5px;
}
.grid__column-spacing--xxs {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin: -10px;
}
.grid__column-spacing--xxs .grid__column {
  padding: 10px;
}
.grid__column-spacing--xs {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  margin: -20px;
}
.grid__column-spacing--xs .grid__column {
  padding: 20px;
}
.grid__column-spacing--small {
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  margin: -30px;
}
.grid__column-spacing--small .grid__column {
  padding: 30px;
}
.grid__column-spacing--medium {
  width: calc(100% + 90px);
  margin: 0 -45px;
}
.grid__column-spacing--medium .grid__column {
  padding: 45px;
}
.grid__column-padding--xxxs .grid__column-content {
  padding: 10px;
}
.grid__column-padding--xxs .grid__column-content {
  padding: 20px;
}
.grid__column-padding--xs .grid__column-content {
  padding: 40px;
}
.grid__column-padding--small .grid__column-content {
  padding: 60px;
}
.grid__column-padding--medium .grid__column-content {
  padding: 90px;
}

.form, .search-form form {
  height: 40px;
}
.form label, .search-form form label {
  display: none;
}
.form input, .search-form form input {
  height: 100%;
  padding: 10px;
  border: solid 1px rgb(158, 158, 158);
  border-radius: 3px;
}

.owl-carousel__no-dots .owl-dots {
  display: none;
}

.owl-dot > span {
  background-color: #c9dcf3 !important;
}
.owl-dot.active > span {
  transition: background-color 0.2s ease-in-out !important;
  background-color: #205899 !important;
}

.menu {
  display: flex;
  padding: 0;
}
.menu li {
  padding: 4px;
}
.menu > li:not(:last-child) {
  margin-right: 20px;
}
.menu li > a {
  white-space: nowrap;
  display: block;
}
.menu__item--has-children {
  position: relative;
}
.menu__item--has-children > a::after {
  content: "\e5cf";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
  transform: scale(1.4) translateY(2px) translateX(2px);
  transition: transform 0.3s;
  background-color: transparent !important;
}
.menu__item--has-children:hover > a::after {
  transform: scale(1.4) translateY(1px) translateX(2px) rotateX(180deg);
}
.menu__item--has-children:hover > .menu__submenu {
  display: block;
}
.menu__submenu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 10px;
  border: solid 1px rgb(158, 158, 158) !important;
  border-radius: 6px;
  background-color: white;
}

.list__list-type--check::before {
  content: "\e876";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
}
.list__list-type--check-outline::before {
  content: "\e86c";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
}
.list__list-layout--one-column {
  -moz-column-count: 1;
       column-count: 1;
}
.list__list-layout--two-column {
  -moz-column-count: 1;
       column-count: 1;
}
@media (min-width: 769px) {
  .list__list-layout--two-column {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 993px) {
  .list__list-layout--two-column {
    -moz-column-count: 2;
         column-count: 2;
  }
}
.list__list-layout--three-column {
  -moz-column-count: 1;
       column-count: 1;
}
@media (min-width: 769px) {
  .list__list-layout--three-column {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 993px) {
  .list__list-layout--three-column {
    -moz-column-count: 3;
         column-count: 3;
  }
}
.list__list-layout--four-column {
  -moz-column-count: 1;
       column-count: 1;
}
@media (min-width: 769px) {
  .list__list-layout--four-column {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 993px) {
  .list__list-layout--four-column {
    -moz-column-count: 4;
         column-count: 4;
  }
}
.list__list-item {
  page-break-inside: avoid;
}
.list__list-item:not(.list__list-type--bullet) {
  display: flex;
}
.list__icon-position--top {
  align-items: flex-start;
}
.list__icon-position--top::before {
  transform: scale(1.4) translateX(-10px) translateY(5px);
}
.list__icon-position--middle {
  align-items: center;
}
.list__icon-position--middle::before {
  transform: scale(1.4) translateX(-10px);
}
.list__icon-position--bottom {
  align-items: flex-end;
}
.list__icon-position--bottom::before {
  transform: scale(1.4) translateX(-10px) translateY(-5px);
}
.list__icon-color--transparent::before {
  color: transparent;
}
.list__icon-color--white::before {
  color: white;
}
.list__icon-color--primary::before {
  color: #205899;
}
.list__icon-color--primary-light::before {
  color: #c9dcf3;
}
.list__icon-color--primary-dark::before {
  color: #213471;
}
.list__icon-color--secondary::before {
  color: #d52a7a;
}
.list__icon-color--secondary-light::before {
  color: #e476a9;
}
.list__icon-color--secondary-dark::before {
  color: #a72160;
}
.list__icon-color--tertiary::before {
  color: #7ad52a;
}
.list__icon-color--tertiary-light::before {
  color: #a9e476;
}
.list__icon-color--tertiary-dark::before {
  color: #57981e;
}

.blog-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-header__filters-wrapper {
  display: flex;
  align-items: center;
}
.blog-header__filters-list {
  list-style-type: none;
}
.blog-header__dropdown-button {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #205899;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  color: #4b4b4b;
}
.blog-header__dropdown-button::after {
  content: "\e5cf";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
  transform: scale(1.4) translateY(2px) translateX(2px);
  transition: transform 0.2s;
}
.blog-header .hide-list {
  display: none;
}

.blog__hero {
  position: relative;
}
.blog__hero-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 600px;
}
.blog__hero-image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.blog__hero-image .wp-block-image.size-full {
  margin: 0;
}
.blog__hero-image--cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.blog__hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog__hero-content * {
  color: #fff;
}
.blog__hero-content p {
  font-size: 40px;
}
.blog__intro {
  margin: 20px 0 60px 0;
}
.blog__intro h1 {
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .blog__intro p {
    width: 70%;
  }
}

.blog-post__featured-image {
  margin-bottom: 60px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-post__featured-image img {
  width: 100%;
  height: auto;
}

.hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form label {
  display: none;
}

.blog-header__subscribe-modal {
  background-color: white;
  padding: 40px;
  border-radius: 6px;
  max-width: 600px;
  margin: auto;
}

.search__results-text {
  border-bottom: solid 2px rgb(158, 158, 158);
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.search__no-results {
  padding: 250px 0;
}

.cta-btn, .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form .hs-button, .blog-header__subscribe-link, .search-form button {
  display: inline-block;
  padding: 0.3em 0.6em;
  border-radius: 6px;
  border: solid 2px transparent;
  transition: all 0.2s;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.cta-btn--small {
  padding: 0.1em 0.3em;
  font-size: 0.75em;
}
.cta-btn--large, .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form .hs-button {
  padding: 0.5em 0.9em;
  border-radius: 8px;
  font-size: 1.25em;
}
.cta-btn--search, .search-form button {
  height: 100%;
  border-radius: 3px;
  border-width: 4px !important;
}
.cta-btn--primary-fill, .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form .hs-button, .blog-header__subscribe-link, .search-form button {
  background-color: #205899;
  border: solid 2px #205899;
  color: white;
}
.cta-btn--primary-fill:hover, .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_blog_subscribe form .hs-button:hover, .blog-header__subscribe-link:hover, .search-form button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
  color: white;
  background-color: #213471;
  border-color: #213471;
}
.cta-btn--primary-stroke {
  color: #205899;
  border: solid 2px #205899;
}
.cta-btn--primary-stroke:hover {
  background-color: #205899;
  color: white;
}
.cta-btn--secondary-fill {
  background-color: #d52a7a;
  border: solid 2px #d52a7a;
  color: white;
}
.cta-btn--secondary-fill:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
  color: white;
}
.cta-btn--secondary-stroke {
  color: #d52a7a;
  border: solid 2px #d52a7a;
}
.cta-btn--secondary-stroke:hover {
  background-color: #d52a7a;
  color: white;
}
.cta-btn--tertiary-fill {
  background-color: #7ad52a;
  border: solid 2px #7ad52a;
  color: white;
}
.cta-btn--tertiary-fill:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
  color: white;
}
.cta-btn--tertiary-stroke {
  color: #7ad52a;
  border: solid 2px #7ad52a;
}
.cta-btn--tertiary-stroke:hover {
  background-color: #7ad52a;
  color: white;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.cta-link, .site-footer .footer-menu li > a, .menu li > a {
  transition: all 0.2s;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.cta-link:hover, .site-footer .footer-menu li > a:hover, .menu li > a:hover {
  color: #213471 !important;
}
.cta-link--small {
  padding: 0.1em 0.3em;
  font-size: 0.9em;
}
.cta-link--large {
  padding: 0.5em 0.9em;
  font-size: 1.1em;
}
.cta-link--white, .site-footer .footer-menu li > a {
  color: #fff;
}
.cta-link--white:hover, .site-footer .footer-menu li > a:hover {
  color: #57981e !important;
}
.cta-link--primary {
  color: #205899;
}
.cta-link--primary:hover {
  color: #213471 !important;
}
.cta-link--secondary {
  color: #d52a7a;
}
.cta-link--secondary:hover {
  color: #a72160 !important;
}
.cta-link--tertiary {
  color: #7ad52a;
}
.cta-link--tertiary:hover {
  color: #57981e !important;
}
.cta-link--chevron::after {
  content: "\e5cc";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
  transform: scale(1.4) translateY(2px) translateX(2px);
  transition: transform 0.2s;
}
.cta-link--chevron:hover::after {
  transform: scale(1.4) translateY(2px) translateX(7px);
}

.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #213471;
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo img {
  width: auto !important;
  height: 70px !important;
}
.site-header--bg {
  background-color: #fff;
  position: fixed;
  z-index: 100;
}
.site-header__main-menu {
  margin-bottom: 0;
}
.site-header__main-menu--desktop {
  display: none;
}
@media (min-width: 769px) {
  .site-header__main-menu--desktop {
    display: block;
  }
}
.site-header__main-menu--mobile {
  display: none;
}
@media (min-width: 769px) {
  .site-header__main-menu--mobile {
    display: none;
  }
}
.site-header .menu-item-has-children {
  position: relative;
}
.site-header .sub-menu {
  position: absolute;
  min-width: 250px;
  background-color: #fff;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1), 0px 3px 16px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 10px;
  top: 100%;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.site-header .visible {
  display: block !important;
}

.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(158, 158, 158);
}
.site-footer--bg {
  background-color: #a9e476;
}
.site-footer .footer-menu {
  margin-bottom: 0;
}
.site-footer .footer-menu, .site-footer .footer-menu * {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  display: flex;
}
.site-footer .footer-menu li:not(:last-child) {
  margin-right: 10px;
}
.site-footer .footer-menu .sub-menu {
  display: none;
}

/* Pagination */
.hs-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hs-pagination a {
  color: #205899;
}

/* Pagination links */
.hs-pagination__link {
  align-items: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
  margin-right: 0.5rem;
  border: solid 1px #205899;
  border-radius: 3px;
  background-color: white;
  height: 32px;
  padding: 7px 5px;
  box-sizing: border-box;
  transition: background-color 0.15s;
}
.hs-pagination__link:hover {
  background-color: #c9dcf3;
}
.hs-pagination__link--active {
  color: rgb(158, 158, 158) !important;
  border: solid 1px rgb(158, 158, 158);
  pointer-events: none;
}

.hs-pagination__link:last-child {
  margin-right: 0;
}

.hs-pagination__link-text {
  color: #205899 !important;
}

.hs-pagination__link,
.hs-pagination__link:hover,
.hs-pagination__link:focus,
.hs-pagination__link:active {
  text-decoration: none;
}

.hs-pagination__link--text-and-icon.hs-pagination__link--first > .hs-pagination__link-icon,
.hs-pagination__link--text-and-icon.hs-pagination__link--prev > .hs-pagination__link-icon {
  margin-right: 0.25rem;
}

.hs-pagination__link--text-and-icon.hs-pagination__link--last > .hs-pagination__link-icon,
.hs-pagination__link--text-and-icon.hs-pagination__link--next > .hs-pagination__link-icon {
  margin-left: 0.25rem;
}

.hs-pagination__link-icon {
  display: inline-flex;
}

.hs-pagination__link-icon svg {
  height: 20px;
  width: 20px;
  fill: #205899;
}

@media (max-width: 767px) {
  .hs-pagination__show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}
.tags__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  row-gap: 3px;
  margin-bottom: 7px;
}
.tags a {
  display: block !important;
}
.tags__tag {
  background-color: #ffaca9;
  color: #424242;
  border-radius: 6px;
  padding: 1px 5px;
  font-weight: 500;
  font-size: 14px;
}

.filters-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.filters-sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filters-sidebar__header label {
  margin-bottom: 0;
}
.filters-sidebar__reset {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #205899;
  transition: color 0.2s;
}
.filters-sidebar__reset::before {
  content: "\e863";
  display: inline-block;
  font-family: "Material Symbols Rounded";
  line-height: 1;
  transform: translate(-4px, 2px);
}
.filters-sidebar__reset:hover {
  color: #213471;
}
.filters-sidebar__label {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.filters-sidebar__item {
  position: relative;
  margin-bottom: 10px;
}
.filters-sidebar__input {
  position: absolute;
  transform: translate(15px, -50%) scale(1.3);
  top: 50%;
}
.filters-sidebar__input:checked + label {
  border: solid 1px #205899;
  background-color: #c9dcf3;
}
.filters-sidebar__option-label {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  padding-left: 40px;
  border-radius: 3px;
  transition: background-color 0.2s;
  border: solid 1px transparent;
}
.filters-sidebar__option-label:hover {
  background-color: #c9dcf3;
}

.card.is-linked:hover .cta-link--chevron::after {
  transform: scale(1.4) translateY(2px) translateX(7px);
}
.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.simple-card {
  box-shadow: none;
  overflow: hidden;
  transition: box-shadow 0.2s;
}
.simple-card.is-linked:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
}
.simple-card__image-container {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
}
.simple-card__image-container img {
  height: 101%;
  width: 101%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.resource-card {
  border: solid 1px rgb(158, 158, 158);
  border-radius: 6px;
  box-shadow: none;
  overflow: hidden;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}
.resource-card.is-linked:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
}
.resource-card__image-container {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
}
.resource-card__image-container img {
  height: 101%;
  width: 101%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.resource-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resource-card__info--bottom {
  margin-top: 10px;
  text-align: right;
}

.icon-card {
  border: solid 1px rgb(158, 158, 158);
  border-radius: 6px;
  box-shadow: none;
  overflow: hidden;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}
.icon-card.is-linked:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
}
.icon-card__icon-container {
  margin-bottom: 10px;
}
.icon-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-card__info--bottom {
  margin-top: 10px;
  text-align: right;
}

.blog-card {
  border: solid 1px rgb(158, 158, 158);
  border-radius: 6px;
  box-shadow: none;
  overflow: hidden;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}
.blog-card.is-linked:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.09);
}
.blog-card__image-container {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
}
.blog-card__image-container img {
  height: 101%;
  width: 101%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-card__info--bottom {
  margin-top: 10px;
  text-align: right;
}
.blog-card__read-time {
  font-size: 14px;
}
.blog-card__read-time-number {
  font-weight: bold;
}
.blog-card__author, .blog-card__publish-date {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}

.module__endcap {
  display: flex;
}
.module__endcap-block-alignment--left {
  justify-content: flex-start;
}
.module__endcap-block-alignment--center {
  justify-content: center;
}
.module__endcap-block-alignment--right {
  justify-content: flex-end;
}
.module__endcap-content-alignment--left * {
  text-align: left;
}
.module__endcap-content-alignment--center * {
  text-align: center;
}
.module__endcap-content-alignment--right * {
  text-align: right;
}
.module.bg--transparent,
.module .bg--transparent {
  background-color: transparent;
}
.module.bg--white,
.module .bg--white {
  background-color: white;
}
.module.bg--primary,
.module .bg--primary {
  background-color: #205899;
}
.module.bg--primary-light,
.module .bg--primary-light {
  background-color: #c9dcf3;
}
.module.bg--primary-dark,
.module .bg--primary-dark {
  background-color: #213471;
}
.module.bg--secondary,
.module .bg--secondary {
  background-color: #d52a7a;
}
.module.bg--secondary-light,
.module .bg--secondary-light {
  background-color: #e476a9;
}
.module.bg--secondary-dark,
.module .bg--secondary-dark {
  background-color: #a72160;
}
.module.bg--tertiary,
.module .bg--tertiary {
  background-color: #7ad52a;
}
.module.bg--tertiary-light,
.module .bg--tertiary-light {
  background-color: #a9e476;
}
.module.bg--tertiary-dark,
.module .bg--tertiary-dark {
  background-color: #57981e;
}

.padding-top--xxxs,
.module__padding-top--xxxs {
  padding-top: 10px;
}
.padding-top--xxs,
.module__padding-top--xxs {
  padding-top: 20px;
}
.padding-top--xs,
.module__padding-top--xs {
  padding-top: 40px;
}
.padding-top--small,
.module__padding-top--small {
  padding-top: 60px;
}
.padding-top--medium,
.module__padding-top--medium {
  padding-top: 90px;
}
.padding-top--large,
.module__padding-top--large {
  padding-top: 120px;
}
.padding-top--xl,
.module__padding-top--xl {
  padding-top: 160px;
}
.padding-top--xxl,
.module__padding-top--xxl {
  padding-top: 200px;
}
.padding-top--xxxl,
.module__padding-top--xxxl {
  padding-top: 250px;
}

.padding-bottom--xxxs,
.module__padding-bottom--xxxs {
  padding-bottom: 10px;
}
.padding-bottom--xxs,
.module__padding-bottom--xxs {
  padding-bottom: 20px;
}
.padding-bottom--xs,
.module__padding-bottom--xs {
  padding-bottom: 40px;
}
.padding-bottom--small,
.module__padding-bottom--small {
  padding-bottom: 60px;
}
.padding-bottom--medium,
.module__padding-bottom--medium {
  padding-bottom: 90px;
}
.padding-bottom--large,
.module__padding-bottom--large {
  padding-bottom: 120px;
}
.padding-bottom--xl,
.module__padding-bottom--xl {
  padding-bottom: 160px;
}
.padding-bottom--xxl,
.module__padding-bottom--xxl {
  padding-bottom: 200px;
}
.padding-bottom--xxxl,
.module__padding-bottom--xxxl {
  padding-bottom: 250px;
}

.social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-links__icon {
  border-radius: 50%;
  display: inline-flex;
  height: 1.75rem;
  margin: 0 0.35rem;
  position: relative;
  width: 1.75rem;
}

.social-links__icon svg {
  fill: #fff;
  height: 0.625rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.social-links__icon:hover svg,
.social-links__icon:focus svg,
.social-links__icon:active svg {
  fill: #fff;
}

.one-column__vertical-alignment--top,
.two-column__vertical-alignment--top {
  align-items: flex-start;
}
.one-column__vertical-alignment--middle,
.two-column__vertical-alignment--middle {
  align-items: center;
}
.one-column__vertical-alignment--bottom,
.two-column__vertical-alignment--bottom {
  align-items: flex-end;
}
.one-column__appended-element,
.two-column__appended-element {
  margin-top: 10px;
}

.one-column__column-type--image img {
  width: 100%;
}

.two-column__grid {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .two-column__grid {
    flex-direction: row;
  }
}
.two-column__column-type--image img {
  width: 100%;
}
.two-column__image--border-radius {
  border-radius: 6px;
}
.two-column__column-gap--xxxs {
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
.two-column__column-gap--xxs {
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.two-column__column-gap--xs {
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
.two-column__column-gap--small {
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 60px;
}
.two-column__column-gap--medium {
  -moz-column-gap: 90px;
       column-gap: 90px;
  row-gap: 90px;
}
.two-column__column-gap--large {
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 120px;
}
.two-column__column-gap--xl {
  -moz-column-gap: 160px;
       column-gap: 160px;
  row-gap: 160px;
}
.two-column__column-gap--xxl {
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 200px;
}
.two-column__column-gap--xxxl {
  -moz-column-gap: 250px;
       column-gap: 250px;
  row-gap: 250px;
}
@media (min-width: 769px) {
  .two-column__column {
    width: 50%;
  }
}

.resources-hubdb__wrapper {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.resources-hubdb__filters-sidebar {
  width: 25%;
}

.hide-filterable {
  display: none;
}

* {
  margin: 0;
}

html {
  width: 100%;
  margin: 0;
}

body {
  color: #4b4b4b;
  font-size: 16px;
}

.body-container {
  margin-top: 76px;
}

a {
  color: #0066ff;
  text-decoration: none;
}

.main-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.constrain {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (min-width: 1441px) {
  .constrain {
    padding: 0 40px;
  }
}

.drag-and-drop-area,
.dnd-section,
.row-fluid {
  padding: 0 !important;
  max-width: unset !important;
}

.no-list {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
