.card {
  &.is-linked:hover {
    .cta-link--chevron::after {
      transform: scale(1.4) translateY(2px) translateX(7px);
    }
  }

  &__image-container {
    img {
    }
  }

  &__top {
  }

  &__content {
  }

  h4 {
    font-size: 20px;
    margin-bottom: $padding--xxxs;
  }
}
