.card {
  border: solid 1px $card-border;
  border-radius: 6px;
  display: block;
  transition: all 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.is-linked:hover {    
    box-shadow: $shadow--level-1;

    .cta-link--chevron::after {
      transform: scale(1.4) translateY(2px) translateX(7px);
    }
  }

  &__image-container {    
    padding-bottom: 65%;
    overflow: hidden;
    position: relative;    

    img {
      position: absolute;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__top {
    margin-bottom: $padding--xxxs;
  }

  &__content {    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}