.one-column,
.two-column {
  &__vertical-alignment {
    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }
  }

  &__appended-element {
    margin-top: $padding--xxxs;
  }
}