.module {
  &__endcap {
    display: flex;
  }

  &__endcap-block-alignment {
    &--left {
      justify-content: flex-start;
    }
    &--center {
      justify-content: center;
    }
    &--right {
      justify-content: flex-end;
    }
  }

  &__endcap-content-alignment {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }

  &__inner {
  }

  &.bg,
  .bg {
    &--transparent {
      background-color: transparent;
    }
    &--white {
      background-color: white;
    }

    &--primary {
      background-color: $primary;
    }
    &--primary-light {
      background-color: $primary--light;
    }
    &--primary-dark {
      background-color: $primary--dark;
    }

    &--secondary {
      background-color: $secondary;
    }
    &--secondary-light {
      background-color: $secondary--light;
    }
    &--secondary-dark {
      background-color: $secondary--dark;
    }

    &--tertiary {
      background-color: $tertiary;
    }
    &--tertiary-light {
      background-color: $tertiary--light;
    }
    &--tertiary-dark {
      background-color: $tertiary--dark;
    }
  }
}

.padding-top,
.module__padding-top {
  &--xxxs {
    padding-top: $padding--xxxs;
  }
  &--xxs {
    padding-top: $padding--xxs;
  }
  &--xs {
    padding-top: $padding--xs;
  }
  &--small {
    padding-top: $padding--small;
  }
  &--medium {
    padding-top: $padding--medium;
  }
  &--large {
    padding-top: $padding--large;
  }
  &--xl {
    padding-top: $padding--xl;
  }
  &--xxl {
    padding-top: $padding--xxl;
  }
  &--xxxl {
    padding-top: $padding--xxxl;
  }
}

.padding-bottom,
.module__padding-bottom {
  &--xxxs {
    padding-bottom: $padding--xxxs;
  }
  &--xxs {
    padding-bottom: $padding--xxs;
  }
  &--xs {
    padding-bottom: $padding--xs;
  }
  &--small {
    padding-bottom: $padding--small;
  }
  &--medium {
    padding-bottom: $padding--medium;
  }
  &--large {
    padding-bottom: $padding--large;
  }
  &--xl {
    padding-bottom: $padding--xl;
  }
  &--xxl {
    padding-bottom: $padding--xxl;
  }
  &--xxxl {
    padding-bottom: $padding--xxxl;
  }
}
