.multi-column {
  a {
    display: inline-block;
  }
  
  &__grid {
    display: flex;
  }

  &__column {
    overflow: hidden;
  }

  &__column-type {
    &--image {
      .multi-column__column {
        position: relative;
        padding-bottom: 75%;

        img {
          height: 100%;
          left: 50%;
          position: absolute;          
          transform: translateX(-50%);
        }
      }
    }
  }

  &__column--border {
    border: solid 1px $neutral--light;
  }

  &__column--border-radius {
    border-radius: 6px;
  }
}
