/* Pagination */

.hs-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: $primary;
  }
}

/* Pagination links */

.hs-pagination__link {
  align-items: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
  margin-right: 0.5rem;
  border: solid 1px $primary;
  border-radius: 3px;
  background-color: white;
  height: 32px;  
  padding: 7px 5px;
  box-sizing: border-box;
  transition: background-color 0.15s;

  &:hover {
    background-color: $primary--light;
  }

  &--active {
    color: $neutral--light !important;
    border: solid 1px $neutral--light;
    pointer-events: none;
  }
}

.hs-pagination__link:last-child {
  margin-right: 0;
}

.hs-pagination__link-text {
  color: $primary !important;
}

.hs-pagination__link,
.hs-pagination__link:hover,
.hs-pagination__link:focus,
.hs-pagination__link:active {
  text-decoration: none;
}

.hs-pagination__link--text-and-icon.hs-pagination__link--first > .hs-pagination__link-icon,
.hs-pagination__link--text-and-icon.hs-pagination__link--prev > .hs-pagination__link-icon {
  margin-right: 0.25rem;
}

.hs-pagination__link--text-and-icon.hs-pagination__link--last > .hs-pagination__link-icon,
.hs-pagination__link--text-and-icon.hs-pagination__link--next > .hs-pagination__link-icon {
  margin-left: 0.25rem;
}

.hs-pagination__link-icon {
  display: inline-flex;
}

.hs-pagination__link-icon svg {
  height: 20px;
  width: 20px;
  fill: $primary;
}

.hs-pagination__link--number {
  // padding: 0.25rem 0.5rem;
}

.hs-pagination__link--text-and-icon {
  
}

@media (max-width: 767px) {
  .hs-pagination__show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}
