.body-container {
  margin-top: 76px;
}

.site-header {
  padding-top: $padding--xxs;
  padding-bottom: $padding--xxs;
  display: flex;
  justify-content: space-between;   
  align-items: center; 

  &__logo {
    img {
      width: 80px !important;
      height: 80px;
    }
  }

  &--bg {    
    background-color: $neutral--white;
    position: fixed;
    z-index: 100;
  }
  
  .main-menu {    
    margin-bottom: 0;

    &, * {
      list-style-type: none;      
      text-decoration: none;
      padding: 0;
      display: flex;    
    }

    li:not(:last-child) {
      margin-right: $padding--xxs;
    }

    li > a {      
      @extend .cta-link;      
    }

    .sub-menu {
      display: none;
    }
  }

  .menu-item-has-children {
    position: relative;
  }

  .sub-menu {
    position: absolute;
    min-width: 250px;
    background-color: $neutral--white;
    box-shadow: $shadow--level-4;
    border-radius: 6px;
    padding: $padding--xxxs;
    top: calc(100%);
    right: 50%;
    left: 50%;
    transform: translateX(-50%);    
  }

  .visible {
    display: block !important;
  }
}