.site-header {
  padding-top: $padding--xxxs;
  padding-bottom: $padding--xxxs;
  border-bottom: solid 1px $primary--dark;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      width: auto !important;
      height: 70px !important;
    }
  }

  &--bg {
    background-color: $neutral--white;
    position: fixed;
    z-index: 100;
  }

  &__main-menu {
    margin-bottom: 0;

    &--desktop {
      display: none;

      @media (min-width: $viewport-tablet--min) {
        display: block;
      }
    }

    &--mobile {
      display: none;
      
      @media (min-width: $viewport-tablet--min) {
        display: none;
      }
    }
  }

  .menu-item-has-children {
    position: relative;
  }

  .sub-menu {
    position: absolute;
    min-width: 250px;
    background-color: $neutral--white;
    box-shadow: $shadow--level-4;
    border-radius: 6px;
    padding: $padding--xxxs;
    top: calc(100%);
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .visible {
    display: block !important;
  }
}
