// Settings
@import 'settings/editor';
@import 'settings/variables';
@import 'settings/type';
@import 'settings/grid';
@import 'settings/form';
@import 'owl-carousel';

// Global
@import 'menu';
@import 'list';

// Blog
@import 'blog/blog-header';
@import 'blog/blog';
@import 'blog/blog-post';
@import 'blog/subscribe';

// Pages
@import 'search';
@import 'search-form';

// Misc
@import 'cta-btn';
@import 'cta-link';
@import 'site-header';
@import 'site-footer';
@import 'pagination';
@import 'tags';
@import 'filters-sidebar';

// Cards
@import 'cards/card';
@import 'cards/simple-card';
@import 'cards/resource-card';
@import 'cards/icon-card';
@import 'cards/blog-card';

// Modules
@import 'module';
@import 'socials';
@import 'columns';
@import 'one-column';
@import 'two-column';
@import 'multi-column';
@import 'resources';
@import 'tabbed-content';

* {
  margin: 0;
}

html {
  width: 100%;
  margin: 0;
}

body {
  color: $body-text;
  font-size: 16px;
}

.body-container {
  margin-top: 76px;
}

a {
  color: $inline-links;
  text-decoration: none;
}

.main-content {
  padding-top: $padding--xs;
  padding-bottom: $padding--xs;
}

.constrain {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $padding--small;

  @media (min-width: $viewport-hd--min) {
    padding: 0 $padding--xs;
  }
}

.drag-and-drop-area,
.dnd-section,
.row-fluid {
  padding: 0 !important;
  max-width: unset !important;
}

.no-list {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
