// Settings
@import './settings/variables';
@import './settings/type';
@import './settings/grid';
@import './settings/form';
@import './module';

// Blog
@import './blog/blog';
@import './blog/blog-post';
@import './blog/blog-card';

// Pages
@import './search';
@import './search-form';

// Misc
@import 'cta-btn';
@import 'cta-link';
@import 'site-header';
@import 'site-footer';
@import 'pagination';
@import 'tag';
@import 'card';

* {
  margin: 0;  
}

html {
  width: 100%;
  margin: 0;
}

body {
  color: $body-text;
  font-size: 16px;
}

a {
  color: $inline-links;
  text-decoration: none;
}

.main-content {
  padding-top: $padding--xs;
  padding-bottom: $padding--xs;
}

.constrain {
  max-width: 1440px;
  padding: 0 $padding--xs;
  margin: 0 auto;
}

.drag-and-drop-area,
.dnd-section,
.row-fluid {
  padding: 0 !important;
  max-width: unset !important;
}