{# import marcros #}
{% import "../../templates/macros.html" as macros %}

{# Global module options #}
{% set module_name = "resources-blog" %}
{% set module_settings = {
    styles: module.styles,
    module_header: module.module_header,
    module_footer: module.module_footer
  }
%}

{# Module specific options #}
{% set blog = module.blog %}
{% set limit_results_ = module.limit_results_ %}
{% set max_results = module.max_results %}

{# Prefilters #}
{% set prefilter_results_ = module.prefilter_results_ %}
{% set prefilter_tag = module.prefilter_tag %}

{% if prefilter_results_ %}
  {% set filtered_results = [] %}

  {% for post in blog_recent_posts(blog) %}
    {% for tag in post.tagList %}        
      {% if tag == prefilter_tag|capitalize %}
        {% do filtered_results.append(post) %}
      {% endif %}
    {% endfor %}    
  {% endfor %}

  {% set blog_posts = filtered_results %}
{% else %}
  {% set blog_posts = blog_recent_posts(blog) %}
{% endif %}

{# Resource Grid #}
{% set fields_visibility = module.card_fields_visibility %}
{% set show_title_ = fields_visibility.show_title_ %}
{% set show_author_ = fields_visibility.show_author_ %}
{% set show_read_time_ = fields_visibility.show_read_time_ %}
{% set show_publish_date_ = fields_visibility.show_publish_date_ %}
{% set show_tags_ = fields_visibility.show_tags_ %}
{% set show_snippet_ = fields_visibility.show_snippet_ %}
{% set show_image_ = fields_visibility.show_image_ %}
{% set show_link_text_ = fields_visibility.show_link_text_ %}
{% set link_text = fields_visibility.link_text %}

{% set card_layout = module.card_layout %}
{% set card_spacing = module.card_spacing %}
{% set card_padding = module.card_padding %}

{# Module #}
{% call macros.module_base(module_name, module_settings) %}
  <div class="{{ module_name }}__wrapper">  

    <div class="{{ module_name }}__grid grid grid__column-layout--{{ card_layout }} grid__column-spacing--{{ card_spacing }} grid__column-padding--{{ card_padding }}">

      {% for post in blog_posts %}
        {% if !limit_results_ || (limit_results_ && loop.index <= max_results) %}                        
          {% set card_options = {                
              title: show_title_ ? post.name : null,                    
              tag_list: show_tags_ ? post.tagList : null,
              author: show_author_ ? post.blog_author : null,
              read_time: show_read_time_ ? (post.post_body|wordcount / 32 > 1 ? post.post_body|wordcount / 32|round(0, "floor") : 1) : null,
              publish_date: show_publish_date_ ? format_date(post.publishDate, "long") : null,
              snippet: show_snippet_ ? post.meta_description : null,
              image: show_image_ ? post.featured_image : null,                      
              link: post.absoluteUrl,
              link_text: show_link_text_ ? link_text : null,        
            }
          %}

          {{ macros.blog_card(card_options) }}

        {% endif %}
      {% endfor %}

    </div>

  </div>
{% endcall %}
