{# import marcros #}
{% import "../../templates/macros.html" as macros %}

{# Global module options #}
{% set module_name = "resources-blog" %}
{% set module_settings = {
    styles: module.styles,
    module_header: module.module_header,
    module_footer: module.module_footer
  }
%}

{# Module specific options #}
{% set blog_posts = blog_recent_posts(module.blog) %}

{# Prefilters #}
{% set prefilter_results_ = module.prefilter_results_ %}
{% set prefilter_options = module.prefilter_options %}

{% if prefilter_results_ %}
  {% set filter_query = [] %}

  {% for prefilter in prefilter_options %}
    {% set prefilter_column = prefilter.prefilter_column %}
    {% set prefilter_result = prefilter.prefilter_result %}
    {% do filter_query.append('&' + prefilter_column + '__eq=' + prefilter_result) %} 
  {% endfor %}

  {% set filter_query = filter_query|string|replace('[', '')|replace(']', '')|replace(', ', '') %}
  {% set table_rows = hubdb_table_rows(table_id, filter_query) %}    
{% else %}
  {% set table_rows = hubdb_table_rows(table_id) %}
{% endif %}

{# Filters Sidebar #}
{% set filters_layout = module.filters_layout %}
{% set filter_columns = module.filter_columns %}

{# Resource Grid #}
{% set table_field_names = module.table_field_names %}
{% set title = table_field_names.column_title %}
{% set snippet = table_field_names.column_snippet %}
{% set content = table_field_names.column_content %}
{% set image = table_field_names.column_image %}
{% set is_link_ = table_field_names.is_link_ %}
{% set link = table_field_names.link %}
{% set link_text = table_field_names.link_text %}

{% set card_layout = module.card_layout %}
{% set card_spacing = module.card_spacing %}
{% set card_padding = module.card_padding %}

{# Module #}
{% call macros.module_base(module_name, module_settings) %}
  <div class="{{ module_name }}__wrapper">  
  
    {% for blog_post in blog_posts %}
      <span class="post-title">{{ blog_post.name }}</span>      
      <span class="post-title">{{ blog_post.meta_description }}</span>
    {% endfor %}


    {% if filters_layout == 'left' %}
      {{ macros.resource_filter(module_name, filter_columns) }}
    {% endif %}

    <div class="{{ module_name }}__grid grid grid__column-layout--{{ card_layout }} grid__column-spacing--{{ card_spacing }} grid__column-padding--{{ card_padding }}">
      {% for row in table_rows %}

        {% set filter_data = [] %}
        
        {% for column_to_filter in filter_columns %}
          {% do filter_data.append({ 
              column: column_to_filter, 
              data: row[column_to_filter].name
            }) 
          %}        
        {% endfor %}

        {% set card_options = {
            title: row[title],
            snippet: row[snippet],
            content: row[content],
            image: row[image],
            is_link_: row[is_link_],
            link: row[link],
            link_text: row[link_text],
            page_root_path: row.page_root_path
          }
        %}

        {{ macros.resource_card(module_name, card_options, filter_data) }}
      {% endfor %}
    </div>

    {% if filters_layout == 'right' %}
      {{ macros.resource_filter(module_name, filter_columns) }}
    {% endif %}
  </div>
{% endcall %}
